= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => "frmAdmin", :class => "form-signin"}) do |f|
  %h2.form-signin-heading
    Sign In
  .flash
    - flash.each do |type, message|
      %span{:class => "notification n-error"}
        = message
  %input{:type => "text", :class => "input-block-level", :id => "user_email", :name => "user[email]", :placeholder => "Email Address"} 
    %input{:type => "password", :class => "input-block-level", :id => "user_password", :name => "user[password]", :placeholder => "Password"} 
  %h4 
    = render :partial => "devise/shared/links"
  = f.submit "Sign in", :class => "btn btn-large btn-primary"
