#subnav
  .container_12
    .grid_12
      %ul
        %li 
          = link_to "Daily Investigation" , edit_patient_investigation_path(@patient,@investigation)
        %li 
          = link_to "TPN additives", "#"
.container_12
  = render :partial => 'edit'
