= content_for :submenu do
  %ul
    %li 
      =  link_to "Daily Investigation" ,  new_patient_investigation_path(@patient)
    %li 
      = link_to "TPN additives", "#"
#frmPop
  .grid_12
    = render :partial => 'form'
  %div{:style => "clear:both;"}
