#accordion
  %h4 
    Investigation
  %div
    = render :partial => 'investigation', :locals => {:f => f}
  %h4 TPN additives
  %div
    = render :partial => 'additives', :locals => {:f => f}
    
:javascript
  $(function() {
    $('.datetimepicker').timepicker({});
  });
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      active: -1
    });
  });

