= render 'patients/submenu'
.span10
  %h3= "#{@patient.name} Investigations"
  .span8.well
    .btn-group
      - @investigations.each do |inv|
        = link_to inv.investigated_on.strftime("%d %b %Y %H:%M"), edit_hospital_patient_investigation_path(current_hospital, inv.patient_id,inv), class: 'btn btn-primary'

