#subnav
  .container_12
    .grid_12
      %ul
        %li 
          = link_to "Daily Investigation" , "#"
        %li 
          = link_to "TPN additives", new_patient_additive_investigation_path(@patient)
.container_12
  = render :partial => 'form'
