- if params[:for].to_i == NUTRITIONIST 
  = link_to raw("<span>Invite Nutritionists</span>"), new_user_registration_path(:for => NUTRITIONIST), :rel => 'facebox'
- else
  = link_to raw("<span>Invite Doctors</span>"), new_user_registration_path(:for => DOCTOR), :rel => 'facebox'
