%ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dropdownMenu', :style => "display:block;position:relative;" }
  %li
    %a{ :tabindex => '-1', :href => '#'} Graph
  %li.divider
  %li
    %a{ :tabindex => '-1', :href => "/tpns/report/#{ @tpn.id }" }  Print Report
  %li.divider
  %li
    %a{ :tabindex => '-1', :href => '#'} Print label
  %li.divider
  %li
    %a{ :tabindex => '-1', :href => '#'} cancel
