.hide
  = f.input :feed_volume_over_24_hour, input_html: { min: '0.00', step:'0.10' }
  = f.input :arterial_line_infusion, input_html: { min: '0.00', step:'0.10' }
  = f.input :inotrope_infusion, input_html: { min: '0.00', step:'0.10' }
  = f.input :other_infusion, input_html: { min: '0.00', step:'0.10' }
