$('#previous_tpn_date').datepicker('remove');
$('#previous_tpn_date').datepicker();
$('#previous_tpn_date').popover('hide');
$('#previous_current_weight').val(" ");
$('#previous_dextrose_conc').val(" ");
$('#previous_total_fluid_intake').val(" ")
$('#previous_fat_volume').val(" ");
$('#previous_fat_concentration').val(" ");
$('#previous_factor').val(" ");
$('#amino_acid_previous').val(" ");
$('#sodium_chloride_previous').val(" ");
$('#potassium_chloride_previous').val(" ");
$('#calcium_previous').val(" ");
$('#magnesium_previous').val(" ");
