= render 'submenu'
.span10
  = render partial: 'history'

:javascript
  $(function() {
    $('.datepicker').datepicker({
      autoclose: true,
      format: 'dd/mm/yyyy',
      todayBtn: true
    });
  });
  
