= render 'sidemenu'
- form_tag(search_hospital_patients_path(current_hospital), :remote => true) do
  = text_field_tag 'keyword' 
  = submit_tag 'Search'

.module
  .span10
    %h2
      %span 
        Patients
    .module-table-body{:id => 'patient_info'}
      = render :partial => 'patients'
            

