= raw display_message
.bottom-spacing
  .float-right
    %a.button{:href => new_patient_path, :class => "btn btn-primary", :style => "float:right;"}
      %span
        Add patient 


- form_tag(search_patients_path, :remote => true) do
  = text_field_tag 'keyword' 
  = submit_tag 'Search'

.module
  .span10
    %h2
      %span 
        Patients
    .module-table-body{:id => 'patient_info'}
      = render :partial => 'patients'
            

