= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information" , edit_patient_path(@patient)
    %li 
      = link_to "Patient history", "#"
#frmPop
  .grid_12
    = render :partial => 'history'
