/*
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require bootstrap-datepicker
*/
@import "bootstrap";
@import "bootstrap-responsive";
@import "bootswatch";

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.n-error {
    background-color: #ffc6ca;
    border-color: #efb9c3;
}
.input0{
    width: 100%;
    margin: 5px;
    float: left;
}
.input5 {
    width: 25%;
    float: left;
}
.container_12, .container_16 {
    width: 98%;
}
.container_12 .gr_6, .container_16 .gr_8 {
    width: 48%;
}
.container_12 .gr_12, .container_16 .gr_16 {
    width: 98%;
}
.mmodule {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.gr_12 div.mmodule div.mmodule-body {
    padding: 20px 1.5% 20px 1.5%;
    float: left;
    width: 97%;
}
.input_left, .input_right {
    width: 50%;
}
.input_left{
    float:left;
}
.input_right{
    float:right;
}
.input_box{
    border: 1px solid #CCC;
    margin-right: 15%;
    padding: 3px;
    float: right;
    width:40px;
    margin-bottom: 0px !important;
}
.input1 {
    width: 30%;
    float:left;
}
.input2{
    width:15%;
    float:left;
}
.input_day1 {
    width: 32%;
    margin-top: 10px;
    float:left;
}
.input_days, .avg {
    float: right;
    width: 65%;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-top: 5px;
}
.input6 {
    width: 100%;
    margin: 2px;
    float:left;
}
.row_selected
{
    background-color:burlywood;
}
