!!!
%html
  %head
    %title Kimaya TPN
    = stylesheet_link_tag "reset", "grid", "styles", "tablesorter", "jquery.wysiwyg", "theme-blue"
    = csrf_meta_tag
  %body
    #header
      / Header. Status part
      #header-status
        .container_12
          .grid_8
            \&nbsp;
          .grid_4
            \&nbsp;
        %div{:style => "clear:both;"}
      / End #header-status
      / Header. Main part
      #header-main
        .container_12
        / End. .container_12
      / End #header-main
      %div{:style => "clear: both;"}
      / Sub navigation
    / End #header
    .container_12
      .prefix_3
        = yield
