- content_for :user do
  #logo
    %ul#nav
      %li
        = link_to "Patients", patients_path 
      %li
        = link_to "Daily Investigations", investigations_search_path

= render :file => 'layouts/application'
